<unit id="{{placeholder_unit_id}}" audio-1="{{placeholder_pre_audio}}" audio-2="{{placeholder_audio}}" *ngIf="unitID == '{{placeholder_unit_id}}'" unit-next="{{placeholder_next}}" [attr.correctState]="isNextButtonVisible == true">
  <ion-grid unit-view>
    <ion-row unit-view-head wrap>
      <ion-col width-100>
        <h1>{{placeholder_text}}</h1>
      </ion-col>
    </ion-row>
    <ion-row [attr.isVisible]="isNextButtonVisible == true && isHelperAllow == false">
      <ion-col width-100>
        <button ion-button block color="secondary" (click)="unit('{{placeholder_next}}')">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row choice-correct-answer="correct.mp3" choice-wrong-answer="wrong.mp3" class="animated fadeIn" unit-view-options two-by-two borderless [attr.hideAllExcept]="hideAllExcept" [attr.animateOn]="animateOn" wrap>
      <ion-col width-50 color-1 ion-card>
        <ion-card choice-1-audio="{{placeholder_choice_1_audio}}" (click)="trigger({{placeholder_correct}}, 1)" style="background: url('assets/files/images/{{placeholder_choice_1_image}}')"></ion-card>
      </ion-col>
      <ion-col width-50 color-2 ion-card>
        <ion-card choice-2-audio="{{placeholder_choice_2_audio}}" (click)="trigger({{placeholder_correct}}, 2)" style="background: url('assets/files/images/{{placeholder_choice_2_image}}')"></ion-card>
      </ion-col>
      <ion-col width-50 color-3 ion-card>
        <ion-card choice-3-audio="{{placeholder_choice_3_audio}}" (click)="trigger({{placeholder_correct}}, 3)" style="background: url('assets/files/images/{{placeholder_choice_3_image}}')"></ion-card>
      </ion-col>
      <ion-col width-50 color-4 ion-card>
        <ion-card choice-4-audio="{{placeholder_choice_4_audio}}" (click)="trigger({{placeholder_correct}}, 4)" style="background: url('assets/files/images/{{placeholder_choice_4_image}}')"></ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</unit>
