<unit id="L1P12Q3" audio-1="M3.mp3" audio-2="" *ngIf="unitID == 'L1P12Q3'" unit-next="L1P20Q1" [attr.correctState]="isNextButtonVisible == true">
  <ion-grid unit-view>
    <ion-row unit-view-head wrap>
      <ion-col width-100>
        <h1>ចាប</h1>
      </ion-col>
    </ion-row>
    <ion-row [attr.isVisible]="isNextButtonVisible == true && isHelperAllow == false">
      <ion-col width-100>
        <button ion-button block color="secondary" (click)="unit('L1P20Q1')">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row choice-correct-answer="correct.mp3" choice-wrong-answer="wrong.mp3" class="animated fadeIn" unit-view-options two-by-two borderless [attr.hideAllExcept]="hideAllExcept" [attr.animateOn]="animateOn" wrap>
      <ion-col width-50>
        <ion-card choice-1-audio="L1P12_1.mp3" (click)="trigger(4, 1)" style="background: url('assets/files/images/L1.2P12.jpg')"></ion-card>
      </ion-col>
      <ion-col width-50>
        <ion-card choice-1-audio="L1P12_3.mp3" (click)="trigger(4, 1)" style="background: url('assets/files/images/L1.4P12.jpg')"></ion-card>
      </ion-col>
      <ion-col width-50>
        <ion-card choice-1-audio="L1P12_7.mp3" (click)="trigger(4, 1)" style="background: url('assets/files/images/L1.1P12.jpg')"></ion-card>
      </ion-col>
      <ion-col width-50>
        <ion-card choice-1-audio="L1P12_8.mp3" (click)="trigger(4, 1)" style="background: url('assets/files/images/L1.3P12.jpg')"></ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</unit>
