<ion-header>
  <ion-navbar>
    <ion-title>{{menuTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content xela>
  <!-- ROOT -->
    <ion-grid *ngIf="menuID == 'root'">
      <ion-row wrap>
        <ion-col width-50 >
          <button ion-button block (click)="menu('L1', 'មេរៀន ១')">
            <div class="text">
              មេរៀន
            </div>
            <div class="number">
              ១
            </div>
          </button>
        </ion-col>
        <ion-col width-50 >
          <button ion-button block (click)="menu('L2', 'មេរៀន ២')">
            <div class="text">
              មេរៀន
            </div>
            <div class="number">
              ២
            </div>
          </button>
        </ion-col>
        <ion-col width-50 >
          <button ion-button block (click)="menu('L3', 'មេរៀន ៣')">
            <div class="text">
              មេរៀន
            </div>
            <div class="number">
              ៣
            </div>
          </button>
        </ion-col>
        <ion-col width-50 >
          <button ion-button block (click)="menu('L4', 'មេរៀន ៤')">
            <div class="text">
              មេរៀន
            </div>
            <div class="number">
              ៤
            </div>
          </button>
        </ion-col>
        <ion-col width-50 >
          <button ion-button block (click)="menu('L5', 'មេរៀន ៥')">
            <div class="text">
              មេរៀន
            </div>
            <div class="number">
              ៥
            </div>
          </button>
        </ion-col>
        <ion-col width-50 >
          <button ion-button block (click)="menu('L6', 'មេរៀន ៦')">
            <div class="text">
              មេរៀន
            </div>
            <div class="number">
              ៦
            </div>
          </button>
        </ion-col>
        <ion-col width-50 >
          <button ion-button block (click)="menu('L7', 'មេរៀន ៧')">
            <div class="text">
              មេរៀន
            </div>
            <div class="number">
              ៧
            </div>
          </button>
        </ion-col>
        <ion-col width-50 >
          <button ion-button block (click)="menu('L8', 'មេរៀន ៨')">
            <div class="text">
              មេរៀន
            </div>
            <div class="number">
              ៨
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END ROOT -->

  <!-- C1 -->
    <ion-grid equalized *ngIf="menuID == 'L1'">
      <ion-row wrap>
        <ion-col width-100 menu-header class="animated fadeInUp">
          ស៊ីមណូស្ពែម និង​អង់ស្យូស្ពែម
        </ion-col>
        <ion-col width-100 class="animated fadeInUp">
          <button ion-button block (click)="unit('L1L1Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ១
            </div>
          </button>
        </ion-col>
        <ion-col width-100 class="animated fadeInUp">
          <button ion-button block (click)="unit('L1L2Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ២
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C1 -->

  <!-- C2 -->
    <ion-grid equalized *ngIf="menuID == 'L2'">
      <ion-row wrap>
        <ion-col width-100 menu-header class="animated fadeInUp">
          ការលួត​លាស់​និង​តំណប​រំញោច​រុក្ខ​ជាតិ​
        </ion-col>
        <ion-col width-100 class="animated fadeInUp">
          <button ion-button block (click)="unit('L2L1Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ១
            </div>
          </button>
        </ion-col>
        <ion-col width-100 class="animated fadeInUp">
          <button ion-button block (click)="unit('L2L2Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ២
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C2 -->

  <!-- C3 -->
    <ion-grid equalized *ngIf="menuID == 'L3'">
      <ion-row wrap>
        <ion-col width-100 menu-header class="animated fadeInUp">
          តម្រូវ​ផ្សេងៗ​របស់​សារពាង្គកាយ​
        </ion-col>
        <ion-col width-100 class="animated fadeInUp">
          <button ion-button block (click)="unit('L3L1Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ១
            </div>
          </button>
        </ion-col>
        <ion-col width-100 class="animated fadeInUp">
          <button ion-button block (click)="unit('L3L2Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ២
            </div>
          </button>
        </ion-col>
        <ion-col width-100 class="animated fadeInUp">
          <button ion-button block (click)="unit('L3L3Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ៣
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C3 -->

  <!-- C4 -->
    <ion-grid equalized *ngIf="menuID == 'L4'">
      <ion-row wrap>
        <ion-col width-100 menu-header class="animated fadeInUp">
          នាទី​របស់​ប្រូតេអ៊ីន​ក្នុង​សារពាង្គកាយ​
        </ion-col>
        <ion-col width-100 class="animated fadeInUp">
          <button ion-button block (click)="unit('L4L1Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ១
            </div>
          </button>
        </ion-col>
        <ion-col width-100 class="animated fadeInUp">
          <button ion-button block (click)="unit('L4L2Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ២
            </div>
          </button>
        </ion-col>
        <ion-col width-100 class="animated fadeInUp">
          <button ion-button block (click)="unit('L4L3Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ៣
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C4 -->

  <!-- C5 -->
    <ion-grid equalized *ngIf="menuID == 'L5'">
      <ion-row wrap>
        <ion-col width-100 menu-header class="animated fadeInUp">
          ព័ត៌មាន​សេនេទិច​និង​ការ​សំដែង​នៃ​សែន​
        </ion-col>
        <ion-col width-100 class="animated fadeInUp">
          <button ion-button block (click)="unit('L5L1Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ១
            </div>
          </button>
        </ion-col>
        <ion-col width-100 class="animated fadeInUp">
          <button ion-button block (click)="unit('L5L2Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ២
            </div>
          </button>
        </ion-col>
        <ion-col width-100 class="animated fadeInUp">
          <button ion-button block (click)="unit('L5L3Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ៣
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C5 -->

  <!-- C6 -->
    <ion-grid equalized *ngIf="menuID == 'L6'">
      <ion-row wrap>
        <ion-col width-100 menu-header class="animated fadeInUp">
          ការវិវត្ត​នៃ​ភាវៈ​រស់​
        </ion-col>
        <ion-col width-100 class="animated fadeInUp">
          <button ion-button block (click)="unit('L6L1Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ១
            </div>
          </button>
        </ion-col>
        <ion-col width-100 class="animated fadeInUp">
          <button ion-button block (click)="unit('L6L2Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ២
            </div>
          </button>
        </ion-col>
        <ion-col width-100 class="animated fadeInUp">
          <button ion-button block (click)="unit('L6L3Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ៣
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C6 -->

  <!-- C7 -->
    <ion-grid equalized *ngIf="menuID == 'L7'">
      <ion-row wrap>
        <ion-col width-100 menu-header class="animated fadeInUp">
          ពពួក​និង​សហគមន៏​
        </ion-col>
        <ion-col width-100 class="animated fadeInUp">
          <button ion-button block (click)="unit('L7L1Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ១
            </div>
          </button>
        </ion-col>
        <ion-col width-100 class="animated fadeInUp">
          <button ion-button block (click)="unit('L7L2Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ២
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C7 -->

  <!-- C8 -->
    <ion-grid equalized *ngIf="menuID == 'L8'">
      <ion-row wrap>
        <ion-col width-100 menu-header class="animated fadeInUp">
          អេកូឡូស៊ី​
        </ion-col>
        <ion-col width-100 class="animated fadeInUp">
          <button ion-button block (click)="unit('L8L1Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ១
            </div>
          </button>
        </ion-col>
        <ion-col width-100 class="animated fadeInUp">
          <button ion-button block (click)="unit('L8L2Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ២
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C8 -->

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button clear (click)="playButtonClick()">
      <ion-icon name="play"></ion-icon>
    </button>
    <button ion-button clear (click)="exitButtonClick()" (press)="toggleDebug()">
      <ion-icon name="power"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
