<ion-header>
  <ion-navbar>
    <ion-title>{{menuTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content xela>
  <!-- ROOT -->
    <ion-grid *ngIf="menuID == 'root'">
      <ion-row wrap>
        <ion-col width-50 >
          <button ion-button block (click)="menu('L1', 'មេរៀន ១')">
            <div class="text">
              មេរៀន
            </div>
            <div class="number">
              ១
            </div>
          </button>
        </ion-col>
        <ion-col width-50 >
          <button ion-button block (click)="menu('L2', 'មេរៀន ២')">
            <div class="text">
              មេរៀន
            </div>
            <div class="number">
              ២
            </div>
          </button>
        </ion-col>
        <ion-col width-50 >
          <button ion-button block (click)="menu('L3', 'មេរៀន ៣')">
            <div class="text">
              មេរៀន
            </div>
            <div class="number">
              ៣
            </div>
          </button>
        </ion-col>
        <ion-col width-50 >
          <button ion-button block (click)="menu('L4', 'មេរៀន ៤')">
            <div class="text">
              មេរៀន
            </div>
            <div class="number">
              ៤
            </div>
          </button>
        </ion-col>
        <ion-col width-50 >
          <button ion-button block (click)="menu('L5', 'មេរៀន ៥')">
            <div class="text">
              មេរៀន
            </div>
            <div class="number">
              ៥
            </div>
          </button>
        </ion-col>
        <ion-col width-50 >
          <button ion-button block (click)="menu('L6', 'មេរៀន ៦')">
            <div class="text">
              មេរៀន
            </div>
            <div class="number">
              ៦
            </div>
          </button>
        </ion-col>
        <ion-col width-50 >
          <button ion-button block (click)="menu('L7', 'មេរៀន ៧')">
            <div class="text">
              មេរៀន
            </div>
            <div class="number">
              ៧
            </div>
          </button>
        </ion-col>
        <ion-col width-50 >
          <button ion-button block (click)="menu('L8', 'មេរៀន ៨')">
            <div class="text">
              មេរៀន
            </div>
            <div class="number">
              ៨
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END ROOT -->

  <!-- C1 -->
    <ion-grid *ngIf="menuID == 'L1'">
      <ion-row wrap>
        <ion-col width-50>
          <button ion-button block (click)="unit('L1P12Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ១២ - ១៣
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L1P14Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ១៤ - ១៥
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L1P16Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ១៦ - ១៧
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L1P18Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ១៨ - ១៩
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L1P20Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ២០ - ២១
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C1 -->

  <!-- C2 -->
    <ion-grid *ngIf="menuID == 'L2'">
      <ion-row wrap>
        <ion-col width-50>
          <button ion-button block (click)="unit('L2P24Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ២៤ - ២៥
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L2P26Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ២៦ - ២៧
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L2P28Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ២៨ - ២៩
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L2P30Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ៣០ - ៣១
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L2P32Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ៣២ - ៣៣
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C2 -->

  <!-- C3 -->
    <ion-grid *ngIf="menuID == 'L3'">
      <ion-row wrap>
        <ion-col width-50>
          <button ion-button block (click)="unit('L3P36Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ៣៦ - ៣៧
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L3P38Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ៣៨ - ៣៩
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L3P40Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ៤០ - ៤១
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L3P42Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ៤២ - ៤៣
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L3P44Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ៤៤ - ៤៥
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L3P46Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ៤៦ - ៤៧
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L3P48Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ៤៨ - ៤៩
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C3 -->

  <!-- C4 -->
    <ion-grid *ngIf="menuID == 'L4'">
      <ion-row wrap>
        <ion-col width-50>
          <button ion-button block (click)="unit('L4P52Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ៥២ - ៥៣
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L4P54Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ៥៤ - ៥៥
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L4P56Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ៥៦ - ៥៧
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L4P58Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ៥៨ - ៥៩
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L4P60Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ៦០ - ៦១
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L4P62Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ៦២ - ៦៣
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L4P64Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ៦៤ - ៦៥
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C4 -->

  <!-- C5 -->
    <ion-grid *ngIf="menuID == 'L5'">
      <ion-row wrap>
        <ion-col width-50>
          <button ion-button block (click)="unit('L5L1Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ១
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L5L2Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ២
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L5L3Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ៣
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C5 -->

  <!-- C6 -->
    <ion-grid *ngIf="menuID == 'L6'">
      <ion-row wrap>
        <ion-col width-50>
          <button ion-button block (click)="unit('L6L1Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ១
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L6L2Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ២
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L6L3Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ៣
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C6 -->

  <!-- C7 -->
    <ion-grid *ngIf="menuID == 'L7'">
      <ion-row wrap>
        <ion-col width-50>
          <button ion-button block (click)="unit('L7L1Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ១
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L7L2Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ២
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C7 -->

  <!-- C8 -->
    <ion-grid *ngIf="menuID == 'L8'">
      <ion-row wrap>
        <ion-col width-50>
          <button ion-button block (click)="unit('L8L1Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ១
            </div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block (click)="unit('L8L2Q1')">
            <div class="text">
              ទំព័រ
            </div>
            <div class="number">
              ២
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C8 -->

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button clear (click)="playButtonClick()">
      <ion-icon name="play"></ion-icon>
    </button>
    <button ion-button clear (click)="exitButtonClick()" (press)="toggleDebug()">
      <ion-icon name="power"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
