<ion-header>
  <ion-navbar>
    <ion-title>Biography For K12</ion-title>
  </ion-navbar>
</ion-header>

<ion-content xela>
  <!-- ROOT -->
    <ion-grid *ngIf="menuID == 'root'">
      <ion-row wrap>
        <ion-col width-50 >
          <button ion-button block (click)="menu('C1')">
            <div class="text">
              ជំពូក
            </div>
            <div class="number">
              ១
            </div>
          </button>
        </ion-col>
        <ion-col width-50 >
          <button ion-button block (click)="menu('C2')">
            <div class="text">
              ជំពូក
            </div>
            <div class="number">
              ២
            </div>
          </button>
        </ion-col>
        <ion-col width-50 >
          <button ion-button block (click)="menu('C3')">
            <div class="text">
              ជំពូក
            </div>
            <div class="number">
              ៣
            </div>
          </button>
        </ion-col>
        <ion-col width-50 >
          <button ion-button block (click)="menu('C4')">
            <div class="text">
              ជំពូក
            </div>
            <div class="number">
              ៤
            </div>
          </button>
        </ion-col>
        <ion-col width-50 >
          <button ion-button block (click)="menu('C5')">
            <div class="text">
              ជំពូក
            </div>
            <div class="number">
              ៥
            </div>
          </button>
        </ion-col>
        <ion-col width-50 >
          <button ion-button block (click)="menu('C6')">
            <div class="text">
              ជំពូក
            </div>
            <div class="number">
              ៦
            </div>
          </button>
        </ion-col>
        <ion-col width-50 >
          <button ion-button block (click)="menu('C7')">
            <div class="text">
              ជំពូក
            </div>
            <div class="number">
              ៧
            </div>
          </button>
        </ion-col>
        <ion-col width-50 >
          <button ion-button block (click)="menu('C8')">
            <div class="text">
              ជំពូក
            </div>
            <div class="number">
              ៨
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END ROOT -->

  <!-- C1 -->
    <ion-grid equalized *ngIf="menuID == 'C1'">
      <ion-row wrap>
        <ion-col width-100 equalized>
          <button ion-button block (click)="menu('C1L1Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ១
            </div>
          </button>
        </ion-col>
        <ion-col width-100 equalized>
          <button ion-button block (click)="menu('C1L2Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ២
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C1 -->

  <!-- C2 -->
    <ion-grid equalized *ngIf="menuID == 'C2'">
      <ion-row wrap>
        <ion-col width-100 equalized>
          <button ion-button block (click)="menu('C2L1Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ១
            </div>
          </button>
        </ion-col>
        <ion-col width-100 equalized>
          <button ion-button block (click)="menu('C2L2Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ២
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C2 -->

  <!-- C3 -->
    <ion-grid equalized *ngIf="menuID == 'C3'">
      <ion-row wrap>
        <ion-col width-100 equalized>
          <button ion-button block (click)="menu('C3L1Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ១
            </div>
          </button>
        </ion-col>
        <ion-col width-100 equalized>
          <button ion-button block (click)="menu('C3L2Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ២
            </div>
          </button>
        </ion-col>
        <ion-col width-100 equalized>
          <button ion-button block (click)="menu('C3L3Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ៣
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C3 -->

  <!-- C4 -->
    <ion-grid equalized *ngIf="menuID == 'C4'">
      <ion-row wrap>
        <ion-col width-100 equalized>
          <button ion-button block (click)="menu('C4L1Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ១
            </div>
          </button>
        </ion-col>
        <ion-col width-100 equalized>
          <button ion-button block (click)="menu('C4L2Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ២
            </div>
          </button>
        </ion-col>
        <ion-col width-100 equalized>
          <button ion-button block (click)="menu('C4L3Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ៣
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C4 -->

  <!-- C5 -->
    <ion-grid equalized *ngIf="menuID == 'C5'">
      <ion-row wrap>
        <ion-col width-100 equalized>
          <button ion-button block (click)="menu('C5L1Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ១
            </div>
          </button>
        </ion-col>
        <ion-col width-100 equalized>
          <button ion-button block (click)="menu('C5L2Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ២
            </div>
          </button>
        </ion-col>
        <ion-col width-100 equalized>
          <button ion-button block (click)="menu('C5L3Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ៣
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C5 -->

  <!-- C6 -->
    <ion-grid equalized *ngIf="menuID == 'C6'">
      <ion-row wrap>
        <ion-col width-100 equalized>
          <button ion-button block (click)="menu('C6L1Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ១
            </div>
          </button>
        </ion-col>
        <ion-col width-100 equalized>
          <button ion-button block (click)="menu('C6L2Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ២
            </div>
          </button>
        </ion-col>
        <ion-col width-100 equalized>
          <button ion-button block (click)="menu('C6L3Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ៣
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C6 -->

  <!-- C7 -->
    <ion-grid equalized *ngIf="menuID == 'C7'">
      <ion-row wrap>
        <ion-col width-100 equalized>
          <button ion-button block (click)="menu('C7L1Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ១
            </div>
          </button>
        </ion-col>
        <ion-col width-100 equalized>
          <button ion-button block (click)="menu('C7L2Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ២
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C7 -->

  <!-- C8 -->
    <ion-grid equalized *ngIf="menuID == 'C8'">
      <ion-row wrap>
        <ion-col width-100 equalized>
          <button ion-button block (click)="menu('C8L1Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ១
            </div>
          </button>
        </ion-col>
        <ion-col width-100 equalized>
          <button ion-button block (click)="menu('C8L2Q1')">
            <div class="text">
              មេរៀន​ទី
            </div>
            <div class="number">
              ២
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- END C8 -->

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button clear (click)="exit()">
      <ion-icon name="power"></ion-icon>
    </button>
    <button ion-button clear (click)="play()">
      <ion-icon name="play"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
