<!--
  Generated template for the Helper page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle navPop *ngIf="isUnitNextAllow == false">
      <ion-icon name="close"></ion-icon>
    </button>

    <ion-title>
      មេរៀន​​ជំនួយ
    </ion-title>

    <ion-buttons end *ngIf="isUnitNextAllow">
      <button ion-button icon-only (click)="unit('C1L1Q2')">
        សំនួរ​បន្ទាប់
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <unit id="C1L1Q1" *ngIf="unitID == 'C1L1Q1'">
    <ion-grid helper-view>
      <ion-row helper-view-head wrap>
        <ion-col width-100>
          <ion-card>
            <img src="assets/files/images/C1L1Q1.jpg" alt="">
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row helper-view-content>
        <ion-col width-100 padding>
          ស៊ីមណូស្ពែម​ ជា​រុក្ខជាតិ​មាន​គ្រាប់​ដែល​កើត​មុន​គេ ដែល​​​គ្មាន​សំបក​ការពារ​ពី​ខាង​ក្រៅ​ទេ​​ គឺ​វា​មាន​គ្រាប់​ននល ដែល​ភាគ​ច្រើន​​ដុះ​នៅ​តំបន់​ត្រជាក់​ ឬ​នៅ​លើ​ភ្នំ។ រុក្ខជាតិ​ស៊ីម​ណូស្ពែម​ភាគ​ច្រើន​ មាន​ដើម​ទោល​ ត្រង់ និង​នៅ​កំពូល​ដើម​មាន​ស្លឹក​​ ឬ​កន្សោម​មែក​ច្រើន។ ស្លឹក​រុក្ខជាតិ​ស៊ីមណូស្ពែម​មាន​រូបរាង​ប្លែកៗ​និង​មាន​សំណើ​ក្រាស់​។ ស៊ីមណូស្ពែម​មួយ​ចំនួន​មាន​ស្លឹក​រាង​ដូច​ម្ជុល​ ឬ​ស្រកា​ ហើយ​មាន​ប្រព័ន្ធ​ឫស​ដុះ​ចាក់​យ៉ាង​ជ្រៅ។ ផូស៊ីល​បង្ហាញ​ថា​ កាល​ពី​សម័យ​មុន​មាន​ស៊ីមណូស្ពែម​ច្រើន​ប្រភេទ ប៉ុន្តែ​មក​ដល់​សព្វ​ថ្ងៃ​​នេះ ស៊ីម​ណូស្ពែម​នៅ​សល់​តែ​បួន​ក្រុម​ប៉ុណ្ណោះ រួម​​មានៈ ប្រង់ គីងកូ កូនីភែ និង​ស៊ីណេតូភីត។
        </ion-col>
        <ion-col width-100 *ngIf="isUnitNextAllow">
          <button ion-button block outline>
            សំនួរ​បន្ទាប់
            &nbsp;<ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </unit>

</ion-content>
