<!--
  Generated template for the Helper page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <button ion-button icon-only menuToggle navPop *ngIf="isUnitNextAllow == false">
      <ion-icon name="close"></ion-icon>
    </button>

    <ion-title>
      មេរៀន​​ជំនួយ
    </ion-title>

    <ion-buttons end *ngIf="isUnitNextAllow">
      <button ion-button icon-only (click)="unit()">
        សំនួរ​បន្ទាប់
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <unit id="C1L1Q1" *ngIf="unitID == 'C1L1Q1'">
    <ion-grid helper-view>
      <ion-row helper-view-head wrap>
        <ion-col width-100>
          <ion-card>
            <img src="assets/files/images/C1L1Q1.jpg" alt="">
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row helper-view-content>
        <ion-col width-100 padding>
          ស៊ីមណូស្ពែម​ ជា​រុក្ខជាតិ​មាន​គ្រាប់​ដែល​កើត​មុន​គេ ដែល​​​គ្មាន​សំបក​ការពារ​ពី​ខាង​ក្រៅ​ទេ​​ គឺ​វា​មាន​គ្រាប់​ននល ដែល​ភាគ​ច្រើន​​ដុះ​នៅ​តំបន់​ត្រជាក់​ ឬ​នៅ​លើ​ភ្នំ។ រុក្ខជាតិ​ស៊ីម​ណូស្ពែម​ភាគ​ច្រើន​ មាន​ដើម​ទោល​ ត្រង់ និង​នៅ​កំពូល​ដើម​មាន​ស្លឹក​​ ឬ​កន្សោម​មែក​ច្រើន។ ស្លឹក​រុក្ខជាតិ​ស៊ីមណូស្ពែម​មាន​រូបរាង​ប្លែកៗ​និង​មាន​សំណើ​ក្រាស់​។ ស៊ីមណូស្ពែម​មួយ​ចំនួន​មាន​ស្លឹក​រាង​ដូច​ម្ជុល​ ឬ​ស្រកា​ ហើយ​មាន​ប្រព័ន្ធ​ឫស​ដុះ​ចាក់​យ៉ាង​ជ្រៅ។ ផូស៊ីល​បង្ហាញ​ថា​ កាល​ពី​សម័យ​មុន​មាន​ស៊ីមណូស្ពែម​ច្រើន​ប្រភេទ ប៉ុន្តែ​មក​ដល់​សព្វ​ថ្ងៃ​​នេះ ស៊ីម​ណូស្ពែម​នៅ​សល់​តែ​បួន​ក្រុម​ប៉ុណ្ណោះ រួម​​មានៈ ប្រង់ គីងកូ កូនីភែ និង​ស៊ីណេតូភីត។
        </ion-col>
        <ion-col width-100 *ngIf="isUnitNextAllow">
          <button ion-button block outline (click)="unit()">
            សំនួរ​បន្ទាប់
            &nbsp;<ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </unit>

  <unit id="C1L1Q2" *ngIf="unitID == 'C1L1Q2'">
    <ion-grid helper-view>
      <ion-row helper-view-head wrap>
        <ion-col width-100>
          <ion-card>
            <img src="assets/files/images/C1L1Q2.jpg" alt="">
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row helper-view-content>
        <ion-col width-100 padding>
          ខាង​ក្រោម​នេះ​ជា​លក្ខណៈ​ពិសេស​របស់​ប្រភេទ​ទាំង​បួន​របស់​រុក្ខជាតិ​ស៊ីមណូស្ពែម៖ ​
          <ul>
            <li>
              ប្រង់ មាន​លក្ខណៈ​ដូច​ដើម​ត្នោត​ម្យ៉ាង​ដែល​មាន​ស្លឹក​ផ្ដុំ​នៅ កំពូល​​ខាង​ចុង​ តែ​វា​មាន​ផលិត​កោន។ ស្លឹក​មាន​ទំហំ​ធំ ទ្រនុង​ស្និត​ និង​មាន​សភាព​ដូច​ស្លឹក​ដូង។​
            </li>
            <li>
              កូនីភែៈ ស្រល់​ជា​រុក្ខជាតិ​ស្ថិត​ក្នុង​ក្រុម​នេះ​ ដែល​មាន​ស្លឹក​រាង​ដូច​ម្ជុល​ ដែល​ជា​លក្ខណៈ​ពិសេស​​អាច​ជួយ​​បង្ការ​ការ​បាត់បង់​ជាតិ​ទឹក​ និង​បន្សាំ​ជីវិត​ក្នុង​អាកាស​ធាតុ​ស្ងួត។ ស្លឹក​រាង​ម្ជុល​ មាន​ទ្រនុង​តែ​មួយ​ ផ្តុំ​នៅ​លើ​ចុង​មែក​ខ្ចី​ (ពពួក​ស្រល់)។
            </li>
            <li>
              គីងកូៈ មាន​លក្ខណៈ​ធន់​នឹង​កង្វល់​បរិយាកាស​បាន ដែល​ស្លឹក​​របស់​វា​រាង​ដូច​ផ្លិត មាន​ទ្រនុង​រាង​ជា​កង្ហារ។ ស្លឹក​មាន​ទ្រនុង​ជា​កង្ហារ។
            </li>
            <li>
              ស៊ីណេតូភីតៈ ដើម​ឈើ​ជា​ចុល្លព្រឹក្ស​សម្រាប់​លំអ​ ហើយ​ខ្លះ ទៀត​ជា​វល្លិ។ ស្លឹក​រាង​ស្រកា​ តម្រៀប​គ្រប​ដណ្ដប់​ផ្ទៃ​មែក​ទាំង​អស់។
            </li>
          </ul>
        </ion-col>
        <ion-col width-100 *ngIf="isUnitNextAllow">
          <button ion-button block outline (click)="unit()">
            សំនួរ​បន្ទាប់
            &nbsp;<ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </unit>

  <unit id="C1L1Q3" *ngIf="unitID == 'C1L1Q3'">
    <ion-grid helper-view>
      <ion-row helper-view-head wrap>
        <ion-col width-100>
          <ion-card>
            <img src="assets/files/images/C1L1Q3.jpg" alt="">
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row helper-view-content>
        <ion-col width-100 padding>
          សរីរាង្គ​បន្ត​ពូជ​របស់​ស៊ីមណូស្ពែម​ ហៅ​ថា​កោន​ដែល​គ្រប់​ដណ្ដប់​ដោយ​ស្រកា ហើយ​វា​មាន​កោន​ញី និង​កោន​ឈ្មោល។ រុក្ខជាតិ​មួយ​ដើម​ ផលិត​កោន​ញី​ផង​ និង​កោន​ឈ្មោល​ផង។  ប៉ុន្តែ​ ក៏​មាន​រុក្ខជាតិ​ខ្លះ​ផលិត​តែ​កោន​ញី​ ឬ​តែ​កោន​ឈ្មោល ហើយ​មួយ​ចំនួន​ទៀត​កី​មិន​ផលិត​កោន​ផង​ដែរ។  កោន​ឈ្មោល​ផលិត​គ្រាប់​លំអង​ល្អិត​ៗ​បាន​​ច្រើន​រាប់​ពាន់​​ ដែល​មាន​​ផ្ទុក​កោសិកា​ដែល​ក្រោយ​​មក​ទទួល​រង​ដំណើរ​ការ​មេយ៉ូស​ក្លាយ​ជា​ស្ពែម៉ាតូសូអ៊ីត។ កោន​ញី​ ជា​សរីរាង្គ​ផលិត​អូវុល​ដែល​ទទួល​រង​នូវ​ដំណើរ​ការ​មេយ៉ូស​បង្កើត​បាន​ជា​អូអូស៊្វែ។ ដំណើរ​លំអង​ច្រើន​ប្រព្រឹត្ត​ដោយ​សារ​ខ្យល់​។ ជាទូទៅ​ ខ្យល់​តែង​នាំ​គ្រាប់​លំអង​ពី​កោន​ឈ្មោល​ទៅ​កោន​ញី ហើយ​វា​ត្រូវ​បាន​ប្រមូល​ផ្ដុំ​នៅ​ក្នុង​សារធាតុ​ស្អិត​ដែល​ផលិត​ដោយ​អូវុល។
        </ion-col>
        <ion-col width-100 *ngIf="isUnitNextAllow">
          <button ion-button block outline (click)="unit()">
            សំនួរ​បន្ទាប់
            &nbsp;<ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </unit>

</ion-content>
