page-unit {
  [unit-header] {
    .toolbar-background {
      border-color: transparent;
      background: transparent;
    }
    &:after {
      background-image: none;
    }
  } // [unit-header]

  [unit-content] {
    [unit-view] {
      height: 100%;
      [unit-view-head] {
        height: 50%;
        text-align: center;
        ion-card {
          height: 95%;
          border-radius: 5px;
          margin-top: 0;

          img {
            height: 100%;
          }
        }

        ion-icon {
          font-size: 12em;
          color: #555;
          margin-top: 10%;
        }
      }
      [unit-view-options] {
        height: 50%;
        padding: 0 15px;

        &[two-by-two] {
          .col {
            height: 50%;
            [ion-button] {
              height: 100%;
              font-size: 4em;
            }
          }
        } // &[two-by-two]

        &[one-by-four] {
          .col {
            padding: 0;
            [ion-button] {
              font-size: 1.6em;
              height: 100%;
            }
          }
          .col:nth-child(1):nth-last-child(1) {
            height: 100%;
          }
          .col:nth-child(1):nth-last-child(2),
          .col:nth-child(2):nth-last-child(1) {
            height: 48%;
          }
          .col:nth-child(1):nth-last-child(3),
          .col:nth-child(2):nth-last-child(2),
          .col:nth-child(3):nth-last-child(1) {
            height: 30%;
          }
          .col:nth-child(1):nth-last-child(4),
          .col:nth-child(2):nth-last-child(3),
          .col:nth-child(3):nth-last-child(2),
          .col:nth-child(4):nth-last-child(1) {
            height: 22%;
          }
        } // &[one-by-four]

        &[borderless] {
          .col {
            padding: 0;
            [ion-button] {
              margin: 0;
              border: 0;
              border-radius: 0;
              box-shadow: none;
            }
          }
          .col:nth-child(1):nth-last-child(1) {
            height: 100%;
          }
          .col:nth-child(1):nth-last-child(2),
          .col:nth-child(2):nth-last-child(1) {
            height: 50%;
          }
          .col:nth-child(1):nth-last-child(3),
          .col:nth-child(2):nth-last-child(2),
          .col:nth-child(3):nth-last-child(1) {
            height: 33.5%;
          }
          .col:nth-child(1):nth-last-child(4),
          .col:nth-child(2):nth-last-child(3),
          .col:nth-child(3):nth-last-child(2),
          .col:nth-child(4):nth-last-child(1) {
            height: 25%;
          }
        } // &[borderless]
      } // [unit-view-options]
    } // [unit-view]
    [helper-view] {
      [helper-view-head] {

      }
      [helper-view-content] {
        font-size: 1.4em;
        text-align: justify;

        [ion-button] {
          padding: 30px 0;
          font-size: 1.4em;
        }
      }
    } // [helper-view]
  } // [unit-content]

  [unit-footer] {
    ion-toolbar {
      text-align: center;

      [ion-button] {
        font-size: 1.6em;
        &:last-child {
          margin-left: 40px;
        }
        &:first-child {
          margin-right: 40px;
        }
      }
    }
    .toolbar-background {
      border-color: transparent;
      background: transparent;
    }
    &:before {
      background-image: none;
    }
  } // [unit-footer]

  [width-100] {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100;
    max-width: 100%;
  }
}
