<ion-header unit-header>
  <ion-navbar hideBackButton>
    <button ion-button icon-only menuToggle (click)="backButtonClick()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>

    <ion-title></ion-title>

  </ion-navbar>
</ion-header>

<ion-content unit-content>

  <unit id="L1L1Q1" audio-1="M1.mp3" audio-2="" *ngIf="unitID == 'L1L1Q1'" unit-next="L1L1Q2" [attr.correctState]="isNextButtonVisible == true">
    <ion-grid unit-view>
      <ion-row unit-view-head wrap>
        <ion-col width-100 [attr.triggerState]="triggerState" *ngIf="isAnimateAllow"> <ion-icon class="animated fadeIn" name="help"></ion-icon> <ion-icon class="animated flip" name="happy"></ion-icon> <ion-icon class="animated flip" name="sad"></ion-icon> </ion-col>
        <ion-col width-100 *ngIf="!isAnimateAllow">
          <ion-card>
            <img src="assets/files/images/L3.3P36.jpg" alt="">
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row [attr.isVisible]="isNextButtonVisible == true && isHelperAllow == false">
        <ion-col width-100>
          <button ion-button block color="secondary">
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ion-row choice-correct-answer="correct.mp3" choice-wrong-answer="wrong.mp3" class="animated fadeIn" unit-view-options two-by-two borderless [attr.hideAllExcept]="hideAllExcept" [attr.animateOn]="animateOn" wrap>
        <ion-col width-50>
          <button ion-button block color-1 choice-1-audio="L3P36_1.mp3" (click)="trigger(3, 1)">
            ផែ
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block color-2 choice-2-audio="L3P36_2.mp3" (click)="trigger(3, 2)">
            ផៃ
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block color-3 choice-3-audio="L3P36_3.mp3" (click)="trigger(3, 3)">
            ផេះ
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button block color-4 choice-4-audio="L3P36_4.mp3" (click)="trigger(3, 4)">
            ថែ
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </unit>

</ion-content>

<ion-footer unit-footer>
  <ion-toolbar>
    <button ion-button clear (click)="backButtonClick()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <button ion-button clear (click)="replayButtonClick()">
      <ion-icon name="refresh"></ion-icon>
    </button>
    <button ion-button clear (click)="exitButtonClick()" (press)="toggleDebug()">
      <ion-icon name="power"></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
