page-unit {
  [unit-header] {
    .toolbar-background {
      border-color: transparent;
      background: transparent;
    }
    &:after {
      background-image: none;
    }
  }

  [unit-content] {

  }
}
