page-unit {
  [unit-header] {
    .toolbar-background {
      border-color: transparent;
      background: transparent;
    }
    &:after {
      background-image: none;
    }
  } // [unit-header]

  [unit-content] {
    [unit-view] {
      height: 100%;
      [unit-view-head] {
        height: 50%;
        text-align: center;
        ion-card {
          height: 95%;
          border-radius: 5px;
          margin-top: 0;

          img {
            height: 100%;
            width: auto;
            margin: 0 auto;
          }
        }

        ion-icon {
          font-size: 12em;
          color: #555;
          margin-top: 10%;
        }

        h1 {
          font-size: 6em;
          margin-top: 20%;
          color: #333;
        }
      }
      [unit-view-options] {
        height: 50%;
        padding: 0 15px;

        &[two-by-two] {
          position: relative;
          .col {
            height: 50%;
            [ion-button] {
              height: 100%;
              font-size: 2.8em;
            }

            &[ion-card] {
              padding: 5px 0 !important;

              ion-card {
                height: 100%;
                // padding: 10px;
                margin: 0 auto;
                background-size: contain !important;
                background-repeat: no-repeat !important;
                background-position: center !important;
                box-shadow: none;

                img {
                  height: 100%;
                  width: auto;
                  margin: 0 auto;
                }
              }
            }


          }

          &[hideAllExcept] {
            &[hideAllExcept="1"] {
              ion-col:nth-child(2),
              ion-col:nth-child(3),
              ion-col:nth-child(4) {
                opacity: 0;
                transition: opacity 1s;
                animation: twoBytwoAnimateOut 1s;
              }
            }
            &[hideAllExcept="2"] {
              ion-col:nth-child(1),
              ion-col:nth-child(3),
              ion-col:nth-child(4) {
                opacity: 0;
                transition: opacity 1s;
                animation: twoBytwoAnimateOut 1s;
              }
            }
            &[hideAllExcept="3"] {
              ion-col:nth-child(1),
              ion-col:nth-child(2),
              ion-col:nth-child(4) {
                opacity: 0;
                transition: opacity 1s;
                animation: twoBytwoAnimateOut 1s;
              }
            }
            &[hideAllExcept="4"] {
              ion-col:nth-child(1),
              ion-col:nth-child(2),
              ion-col:nth-child(3) {
                opacity: 0;
                transition: opacity 1s;
                animation: twoBytwoAnimateOut 1s;
              }
            }
          } // &[hideAllExcept] {}

          &[animateOn] {
            ion-col {
              position: absolute;
              padding: 0 15px;
              height: 100%;
              min-width: 100%;
              animation: twoBytwoAnimateIn 1s ease;
            }

            &[animateOn="1"] {
              ion-col:nth-child(1) {
                top: 0;
                left: 0;
              }
              ion-col:nth-child(2),
              ion-col:nth-child(3),
              ion-col:nth-child(4) {
                display: none;
              }
            }
            &[animateOn="2"] {
              ion-col:nth-child(2) {
                top: 0;
                right: 0;
              }
              ion-col:nth-child(1),
              ion-col:nth-child(3),
              ion-col:nth-child(4) {
                display: none;
              }
            }
            &[animateOn="3"] {
              ion-col:nth-child(3) {
                bottom: 0;
                left: 0;
              }
              ion-col:nth-child(1),
              ion-col:nth-child(2),
              ion-col:nth-child(4) {
                display: none;
              }
            }
            &[animateOn="4"] {
              ion-col:nth-child(4) {
                bottom: 0;
                right: 0;
              }
              ion-col:nth-child(1),
              ion-col:nth-child(2),
              ion-col:nth-child(3) {
                display: none;
              }
            }
          } // &[animateOn] {}
        } // &[two-by-two]

        &[one-by-four] {
          .col {
            padding: 0;
            [ion-button] {
              font-size: 1.6em;
              height: 100%;
            }
          }
          .col:nth-child(1):nth-last-child(1) {
            height: 100%;
          }
          .col:nth-child(1):nth-last-child(2),
          .col:nth-child(2):nth-last-child(1) {
            height: 48%;
          }
          .col:nth-child(1):nth-last-child(3),
          .col:nth-child(2):nth-last-child(2),
          .col:nth-child(3):nth-last-child(1) {
            height: 30%;
          }
          .col:nth-child(1):nth-last-child(4),
          .col:nth-child(2):nth-last-child(3),
          .col:nth-child(3):nth-last-child(2),
          .col:nth-child(4):nth-last-child(1) {
            height: 22%;
          }
        } // &[one-by-four]

        &[borderless] {
          .col {
            padding: 0;
            [ion-button] {
              margin: 0;
              border: 0;
              border-radius: 0;
              box-shadow: none;
            }
          }
          // .col:nth-child(1):nth-last-child(1) {
          //   height: 100%;
          // }
          // .col:nth-child(1):nth-last-child(2),
          // .col:nth-child(2):nth-last-child(1) {
          //   height: 50%;
          // }
          // .col:nth-child(1):nth-last-child(3),
          // .col:nth-child(2):nth-last-child(2),
          // .col:nth-child(3):nth-last-child(1) {
          //   height: 33.5%;
          // }
          // .col:nth-child(1):nth-last-child(4),
          // .col:nth-child(2):nth-last-child(3),
          // .col:nth-child(3):nth-last-child(2),
          // .col:nth-child(4):nth-last-child(1) {
          //   height: 25%;
          // }
        } // &[borderless]
      } // [unit-view-options]
    } // [unit-view]
  } // [unit-content]

  [reactions] {

  }

  [isVisible] {
    &[isVisible="false"] {
      display: none;
      height: 0px;
      transition: height 1s;
    }
    &[isVisible="true"] {
      display: flex;
      height: 25%;
      margin: 0 10px;
      transition: height 1s;
      animation: isVisible 1s;
      [ion-button] {
        height: 80%;
        font-size: 3em;
        animation: 1s revealNextButton linear;
        box-shadow: 0 8px 2px 0 rgba(0, 0, 0, 0.14), 0 6px 1px -2px rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.12);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }

  [correctState] {
    &[correctState="true"] {
      [unit-view-options] {
        [ion-button] {
          background-color: transparent !important;
          font-size: 6em !important;
          animation: reveal 1s linear;
        }
      }
    }
  }

  [unit-footer] {
    ion-toolbar {
      text-align: center;

      [ion-button] {
        font-size: 1.6em;
        &:last-child {
          margin-left: 40px;
        }
        &:first-child {
          margin-right: 40px;
        }
      }
    }
    .toolbar-background {
      border-color: transparent;
      background: transparent;
    }
    &:before {
      background-image: none;
    }
  } // [unit-footer]

  [triggerState] {

    ion-icon[name="help"] {}
    ion-icon[name="happy"] {
      color: #19A15F !important;
    }
    ion-icon[name="sad"] {
      color: #DE5347 !important;
    }

    &[triggerState="help"] {
      ion-icon[name="help"] {}
      ion-icon[name="happy"] { display: none; }
      ion-icon[name="sad"] { display: none; }
    }
    &[triggerState="happy"] {
      ion-icon[name="help"] { display: none;}
      ion-icon[name="happy"] {}
      ion-icon[name="sad"] { display: none; }
    }
    &[triggerState="sad"] {
      ion-icon[name="help"] { display: none;}
      ion-icon[name="happy"] { display: none; }
      ion-icon[name="sad"] {}
    }
  }

}


@keyframes twoBytwoAnimateIn {
  from {
    height: 50%;
    min-width: 50%;
  }
  to {
    height: 100%;
    min-width: 100%;
  }
}

@keyframes twoBytwoAnimateOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes isVisible {
  from {
    height: 0;
  }
  to {
    height: 25%;
  }
}

@keyframes reveal {
  from {
    font-size: 2.8em;
    background-color: transparent !important;
  }
  to {
    background-color: transparent !important;
    font-size: 6em;
  }
}

@keyframes revealNextButton {
  0% {
    font-size: 0;
    height: 0;
    width: 100%;
    box-shadow: none;
  }
  70%, 100% {
    height: 80%;
    box-shadow: 0 8px 2px 0 rgba(0, 0, 0, 0.14), 0 6px 1px -2px rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
