// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$colors: #19A15F #4C8CF5 #DE5347 #FFCE43;

/* khmer */
@font-face {
  font-family: 'Hanuman';
  font-style: normal;
  font-weight: 400;
  src: local('Hanuman'), url("../assets/fonts/hanuman.woff2") format('woff2');
  unicode-range: U+1780-17FF, U+200B-200C, U+25CC;
}

ion-app {
  font-family: 'Roboto', 'Hanuman' !important;
}

[width-100] {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100;
  max-width: 100%;
}

@each $color in $colors {
  $i: index($colors, $color);
  &[color-#{$i}] {
    background-color: $color;
    color: #222;
  }
}

[hideBackButton] {
  [menuToggle] {
    display: block !important;
  }
}


page-menu {
  [xela] {
    [equalized] {
      min-height: 100%;
      justify-content: center !important;
      align-content: center !important;
    }
    [width-100] {
      &[menu-header] {
        text-align: center;
        font-size: 2em;
        padding: 10px 0;
        max-width: 70%;
        margin: 0 auto;
      }
    }
    [ion-button] {
      height: 110px;
      font-size: 1.8em;

      span.button-inner {
        display: block;
        margin-top: 25px;

        .text {
          display: block;
        }
        .number {
          display: block;
          margin-top: 12px;
          font-size: 1em;
        }
      }
    } // [ion-button]
  } // [xela]

  ion-toolbar {
    text-align: center;

    [ion-button] {
      font-size: 1.6em;
      &:last-child {
        margin-left: 50px;
      }
      &:first-child {
        margin-right: 50px;
      }
    }
  }

  $start_sec: 0;
  $floating_point: '.';
  @for $i from 1 through 5 {
    .animated:nth-child(#{$i}) {
      animation-delay: #{$start_sec}#{$floating_point}#{$i}s !important;
      animation-duration: 1s !important;
      // -vendor-animation-iteration-count: infinite !important;
    }
    @if $i == 9 {
      $start_sec: 1;
    }
  }

}
